name: Build and Upload Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - run: |
          cd custom_components
          zip -r ../Keenetic-Router-Pro-main.zip keenetic_router_pro

      - uses: softprops/action-gh-release@v2
        with:
          files: Keenetic-Router-Pro-main.zip
